.Poke {
    content: url(https://static1.squarespace.com/static/58e615985016e1877f64dc7c/t/592ebf031b10e3f517523190/1496235794681/?format=1000w);
    background-color: #19483f;
    
    height: 440px;
    width: 440px;
    margin: auto;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.Add{
    color:salmon;
   
}




@media only screen and (max-width: 320px) {
    /* Small screen, non-retina */
    .Poke {content: url(https://static1.squarespace.com/static/58e615985016e1877f64dc7c/t/592ebf031b10e3f517523190/1496235794681/?format=1000w);
        width: 350px;
        height: 300px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 538px) {
    /* Medium screen, non-retina */
    .Poke {content: url(https://static1.squarespace.com/static/58e615985016e1877f64dc7c/t/592ebf031b10e3f517523190/1496235794681/?format=1000w);
    }
}

@media
only screen and (min-resolution: 2dppx) and (min-width: 539px) {
    /* Large screen, retina */
    .Poke {content: url(https://static1.squarespace.com/static/58e615985016e1877f64dc7c/t/592ebf031b10e3f517523190/1496235794681/?format=1000w);
    }
}