.BuildControls {
    color: #19483f;
    width: 100%;
    background-image: url(https://static1.squarespace.com/static/58e615985016e1877f64dc7c/58eba7171e5b6c098ba57474/59288ddcbf629a04aaffdfad/1498811593756/MALOA_collage_02_web.jpg?format=2500w);
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}

.Current{
    color:rgb(18, 14, 236);
}
.ShowNumber{
    float: left;
    margin: 0;
    padding: 0;
    width: 48px;
    height: 26px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #666;
    border: 1px solid #CCC;
    outline: 0;
    background: #FFF;
}
.OrderButton {
    background-color: rgb(230, 230, 230);
    outline: none;
    cursor: pointer;
    border: 1px solid #fdfdfd;
    color:rgb(211, 77, 73);
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    box-shadow: 2px 2px 2px #fafafa;
}

.OrderButton:hover, .OrderButton:active {
    background-color: rgb(211, 77, 73);
    border: 1px solid #966909;
    color: white;
}

.OrderButton:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}