

.Bowl {
 display: none;
    background: url(https://static1.squarespace.com/static/58e615985016e1877f64dc7c/t/592ebf031b10e3f517523190/1496235794681/?format=1000w);
    background-size: 625px 741px;
    padding: 8px;
   height: 625px;
    width: 80%;
    box-sizing: border-box;
  
}


  

.Salmon {
    display: none;
}

.Tuna {
    display: none;
}

.Salad {
    display: none;
}

.Tofu {
    display: none;
}
